.header {
  height: 70px;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  transition: background-color 0.3s ease;
}

.header.scrolled {
    background-color: #e6e6e6;
}

.leftSideHeader{
    width:40%;
    margin-left: 170px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.leftSideHeader h1{
    color: rgb(8, 167, 50);
}

.rightSideHeader{
    width:35%;
    font-size: 10px;
    color:grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home
{
    font-size: 20px;
    color:grey;
    text-decoration: none;
}

.home:focus-within 
{
    color:rgb(12, 158, 51);
}

.about
{
    font-size: 20px;
    color:grey;
    text-decoration: none;
}

.about:focus-within 
{
    color:rgb(9, 162, 24);
}

.contact
{
    font-size: 20px;
    color:grey;
    text-decoration: none;
}

.contact:focus-within 
{
    color:rgb(10, 155, 32);
}

.signInButton
{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #540add9f;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.signInButton:hover{
    background-color: #e9e0fa;
}

.signInId
{
    color: rgb(8, 179, 22);
    text-decoration: none;
}
.profilePic
{
    height: 40px;
    width: 40px;
    border: 2px black solid;
}