/* Dark background overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999999; /* SUPER HIGH */
}

/* Popup box */
.popup {
    background: white;
    width: 450px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    animation: popIn 0.3s ease-out;
}

/* Animation */
@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Inputs */
.selectAmount input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Buttons */
.amountButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn1, .close-btn {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn1 {
    background: #28a745;
    color: white;
}

.close-btn {
    background: #ff4d4d;
    color: white;
}
.signup-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.signup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 9998;
}



.signUpCustomerPage
{
    height: 680px;
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    width: 1000px;
    height:580px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.left {
    width: 500px;
    height: 580px;
    border-radius: 20px;
}
.left img {
    width: 500px;
    height: 580px;
    border-radius: 30px 0px 0px 30px;
}

.left-div
{
    width: 500px;
    position: absolute;
	display: flex;
    justify-content: center;
	align-items: center;
	max-width: 50%;
	top: 65%;
	left:180px;
    border-radius: 30px 0px 0px 30px;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.left-div-text
{
    width: 400px;
    height: 100px;
    color: white;
    animation: fadeIn 5s forwards;
}
.left-div-text h1{
    color: white;
}

.left-div-text h3{
    color: white;
}
.right-container{
    width: 500px;
    height: 550px;
}
.right
{
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightTop
{
    width: 500px;
    height: 550px;
}
.inputProfilePic
{
    width: 100%;
    height: 70px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageProfilePic img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer1
{
    position: absolute;
    margin-left: 50px;
    margin-top: 45px;
    border-radius: 50%;
    border: none;
}
.input-div input {
    border-radius: 0px 20px 20px 0px;
    border: 2px solid rgb(81, 79, 79);
}

.input-div {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    margin-left: 30px;
}

.i1 {
    width: 50px;
    height: 40px;
    margin-top: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    border-bottom:2px solid black;
    border-left:2px solid black;
    border-radius: 30px 0px 0px 30px;
}

.input-div input {
    width: 350px;
    height: 20px;
    padding-left: 10px;
    margin-top: 20px;
    border: 2px solid rgb(5, 6, 5);
    outline: none;
    position: relative;
    z-index: 1;
}


.avatar-file
{
    width: 300px;
    height: 30px;
}

.input-div1 input {
    border-radius: 0px 30px 30px 0px;
    border: 2px solid rgb(81, 79, 79);
}

.input-div1 {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    margin-left: 50px;
}


.input-div:focus-within input{
    border: 2px solid rgb(3, 131, 16);
}

.input-div:focus-within .i1 .customer {
    color:  rgb(7, 132, 3);
}


.submitButtonSignUpCustomer
{
    width: 190px;
    height: 50px;
    background-color: rgb(221, 101, 21);
    border-radius: 25px;
    color: white;
	font-size: 20px;
    font-weight: 500;
	cursor: pointer;
	transition: 0.3s;
    border: 2px solid rgb(221, 101, 21);
}

.submitButtonSignUpCustomer:focus-within {
	border:2px solid rgb(221, 101, 21);
}

.buttonSignUpCustomer
{
    width: 500px;
    height:40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.upperText
{
    width: 500px;
    height: 50px;
    margin-top: 50px;
}
.firstDiv 
{
    width: 500px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstDiv h2{
    font-size: 30px;
    color: rgb(16, 164, 5);
}
.line
{
    width: 500px;
    height: 20px;
    display: flex;
    justify-content: center;
}

.line p{
    color: gray;
    font-size: 15px;
}


.hidden {
    display: none;
}
.loginPage
{
    width:100%;
    height:20px;
    display: flex;
    justify-content: center;
}

.loginPage p{
    color:grey;
    font-size: 20px;
}


/* login page */
.right-login
{
    height: 690px;
    width: 1520px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightTop-login
{
    width: 500px;
    height: 500px;
    display: grid;
    background-color: aliceblue;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.imageProfilePic
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}